[2020-12-09 20:05] jarq6c opened #3 "Please update 'About' description with more details"
In response to Andy's request to make individual tools more discoverable, please add more details to the repository's description.

For example,

"Suite of tools for retrieving USGS NWIS observations and evaluating National Water Model (NWM) data."

Is there a better description?

[2020-12-09 20:31] HankHerr-NOAA commented on #3
Looks fine to me.  I'll modify the repo Description (I assume that's the change I need to make) when I hear back from Austin that he agrees.

[2020-12-10 19:26] HankHerr-NOAA commented on #3
I'm going to change the About description now.  Austin: If you have any modifications to make, let me know and I'll change it again.

Thanks,
Hank

[2020-12-10 19:26] HankHerr-NOAA commented on #3
Is there a status prior to Close that I can set this ticket to in order to reflect that I did my work pending approval?  Or should I just close it?

Hank

[2020-12-11 13:44] jarq6c commented on #3
We normally reference a commit in a comment and close the ticket. Thanks for updating the description!

[2020-12-11 13:44] #3 closed

[2020-12-11 14:57] jarq6c opened #4 "No way to install all evaluation tools at once"
The top level namespace package `evaluation_tools` does not have a `setup.py` script. This means there is no way to grab the whole toolbox. Some users may prefer to install all tools at once.

[2020-12-11 15:22] aaraney commented on #3
@HankHerr-NOAA, looks great! Thanks for updating the description.

[2020-12-11 16:51] #4 closed

[2020-12-16 14:56] aaraney opened #8 "Add gh-pages sphinx documentation"
It would be nice to have a dedicated documentation page, via `gh-pages`. This issue is just stating the desire for this feature.

[2020-12-17 19:08] #8 closed

[2020-12-23 23:04] hellkite500 opened #10 "Client defaults to "active" status"
https://github.com/NOAA-OWP/evaluation_tools/blob/1e3b0701f68977d16371740df802fc180445024f/python/nwis_client/evaluation_tools/nwis_client/iv.py#L83

To more closely mimic the default behavior of NWIS itself, the active status should default to ALL and users should configure their client for the more specific cases of "inactive" and "active".

[2020-12-23 23:13] jarq6c commented on #10
You're all determined to make me reconfigure all my workflows. 😝

On Wed, Dec 23, 2020, 17:05 Nels <notifications@github.com> wrote:

[2020-12-23 23:52] aaraney opened #11 "Return empty df to avoid pd.concat Value Error in iv get method"
@hellkite500 found an edge case where an `nwis_client` `get` request can throw a `ValueError` when `pd.concat` has nothing to concatenate. This often occurs when a user asks for data from a site that is 'active' however the gage is not active. This should just return an empty df with the typical fields headers present.

https://github.com/NOAA-OWP/evaluation_tools/blob/1e3b0701f68977d16371740df802

[2021-01-04 22:09] jarq6c commented on #10
@hellkite500 do you want to make this change and submit the PR?

[2021-01-06 13:26] #10 closed

[2021-01-13 21:14] aaraney opened #14 "Disabling requests-cache is not thread safe. Discussion of the future of _restclient's usage of requests-cache"
Due to the way `requests-cache` (used in `_restclient`) is implemented, if the cache has been "installed" and a downstream package uses requests, the downstream package's requests will be cached. Meaning that `requests_cache` implicitly changes the behavior of the `requests` package for all downstream callers.

Per `requests-cache`'s [documentation](https://requests-cache.readthedocs.io/en/latest/

[2021-01-14 15:22] jarq6c commented on #14
With reference to CacheControl, the default cache is a `dict`. They also have a `FileCache` that will persist requests using `pickle` and a `RedisCache`. I'm wondering about performance using the `FileCache` and portability using the `RedisCache`.

[2021-01-14 18:01] aaraney commented on #14
Thanks for doing a little digging... Having not done that so far myself, the issues that you mentioned are problematic and do not sound like they would support our needs. Specifically a `FileCache` does not support our needs nor an in-RAM solution like `Redis`. Additionally, I am not overly keen in bringing in another dependency just to fix this one issue. Plus with the status of `requests-cache`:

[2021-01-14 18:24] jarq6c commented on #14
The disadvantages of a hypothetical `evaluation_tools._cache` package are that someone has to write and maintain it. We may also end up reinventing the wheel to some extent. On the other hand, perhaps there is a way to design it such that wheel reinventing is minimized and we're really just writing wrappers around existing libraries.

The potential advantages of such a package go beyond its primar

[2021-01-15 15:12] hellkite500 commented on #14
@jarq6c its ironic you mention an event cache, I may or may not have had the need to implement:
[code]

I would encourage thinking about the needs of caching and what exactly is being cached.  A dataframe cache with clear semantics isn't too far fetched.

[2021-01-21 21:55] #11 closed

[2021-01-21 22:00] aaraney opened #17 "Github Actions to automate unit testing"
I didn't realize that we did not have unit tests via GHActions here. This is mainly just a note here for me to remember to add that.

[2021-01-21 22:03] aaraney opened #18 "Update GitFlow documentation"
Further elaborate the GitFlow used in this repo. Elucidate on the use of `develop` branch, forking, pull requests, and how to pull upstream changes into your fork to continue work.

[2021-01-22 17:23] aaraney opened #19 "Cache GCP client responses to reduce repeated operations and network calls"
Each time the gcp client is used, it hits gcp to get the requested data. Given the size of the data and that repeated process, it only makes sense to implement some kind of cache. I propose that we use a file db (i.e. sqlite) to accomplish this for simplicity and broad support in python.

## High level logic

1. check if db cache has desired data (stored as df)
    1. yes - return data
    2. no -

[2021-01-22 17:27] jarq6c commented on #19
My inclination is to cache processed dataframes. GCP is pretty resilient,
but there's a major bottleneck when it comes to processing the NetCDF
files. I'd like to see if we can optimize that aspect first, then explore
caching options.

On Fri, Jan 22, 2021, 11:23 AustinRaney-NOAA <notifications@github.com>
wrote:

[2021-01-22 17:34] aaraney commented on #19
Likewise.

but there's a major bottleneck when it comes to processing the NetCDF
files. I'd like to see if we can optimize that aspect first, then explore
caching options.

Okay, I will look into optimizing that before moving on. Can you speculate on the bottleneck you mentioned?

[2021-01-22 17:39] jarq6c commented on #19
I think there may be an issue similar to what I had when pulling data from
AWS. That it's not using standard xarray to_dataframe methods.

On Fri, Jan 22, 2021, 11:34 AustinRaney-NOAA <notifications@github.com>
wrote:

[2021-01-22 17:40] aaraney commented on #19
Alright, that's helpful. I will fool around with it and see if I see any improvement in performance.

[2021-01-26 14:41] aaraney commented on #19
I took a look at the performance issues on Friday and found two places where we can make substantial improvements. For an initial baseline, I timed retrieving an analysis and assimilation cycle without filtering the results (all 2.7 million reaches included). That took ~48 seconds. Not horrible, but also not great. To get a sense of what the bottle neck might be, I did the same test, but filtered

[2021-01-26 15:04] jarq6c commented on #19
At the model level, it makes sense to store `nwm_feature_id` as an `int`. However, for this use case my preference is that all location identifiers be `str` then `pandas.Category`.

Having said that, I believe the transformation from `int` to `str` can be more efficiently executed outside the `NWM_bytes_to_DataFrame` method (after calling `pandas.concat` elsewhere).

Additionally, I wonder if ther

[2021-01-26 15:31] aaraney commented on #19
I agree that for the end user, storing them as strings makes more sense and it is just the standard that we have in place. I think it makes sense to cache results as `int`'s personally. I would imagine that `int` comparison speeds would be faster than `str` comparison, then again I guess the question is, if `int` comparison then casting to `str` is faster than just a `str` comparison. I may be cha

[2021-01-26 15:48] aaraney commented on #19
Having looked into the [source](https://github.com/pydata/xarray/blob/a0c71c1508f34345ad7eef244cdbbe224e031c1b/xarray/core/dataset.py#L4970) I don't think that for this problem we will see any performance improvements using `to_dataframe()`. Ive included the method used to create the dataframe by xarray below. Our code should be a minutely faster since we also use the underlying `numpy` array to c

[2021-01-26 16:28] jarq6c commented on #19
As an experiment I ran a test on my personal laptop that compared creating and concatenating 10,000 dataframes each with 1000 rows and two columns (`nwm_feature_id` and `data`) using multiprocessing (5 processes). I found casting `nwm_feature_id` to `str` after concatenation was 50% slower than before concatenation. At least on my laptop, it seems your intuition is correct.

I understand the effic

[2021-01-26 16:34] jarq6c commented on #19
I also had notes on memory-usage for the resulting `Dataframe`.
`str`: 647.4 MB
'int': 152.6 MB
`str` as `Category`: 95.5 MB
`int` as `Category`: 95.4 MB

[2021-01-26 17:09] aaraney commented on #19
Right, I agree with you. My plan was never to include the `usgs_site_code` in a cached version since crosswalking and merging is so cheap computationally. I share your concern about splitting from the canonical format, just trying to figure out what makes the most sense moving forward.

[2021-01-26 19:00] aaraney commented on #19
I was able to get the time down to ~34 seconds doing the following:

[code]

[2021-01-26 20:10] jarq6c commented on #19
Yuck! But also, clever! 😆 Nice!

[2021-01-26 20:14] aaraney commented on #19
Only cause for concern is now `nwm_feature_id` is `byte` type not a decoded string. Going back to the drawing board. I found a really thorough and well explained [stackoverflow post](https://stackoverflow.com/a/49804868/9925472) comparing `astype` and `apply(<T>)` that may be useful in the future or just good to know about.

[2021-01-26 20:29] hellkite500 commented on #19
Might try writing this  a  vectorized copy  and see if it helps performance
[code]
To something like
[code]
I'm curious if the type assignment from one column type to another is causing some significant slow down on that large of data.  Essentially it has to  create tmp buffer,  copy the new transformed data to it,  and then reassign that index.   Maybe something like the above can speed that up a

[2021-01-26 20:34] aaraney commented on #19
I tried something similar to that, but instead using casting with the built-in, used pandas `astype`. Still hovering at 50 seconds.

[2021-01-28 16:24] #17 closed

[2021-01-28 16:28] jarq6c opened #23 "NWIS IVDataService Failing Unit Test"
Pytest output:

[code]

[2021-01-28 16:29] aaraney commented on #23
Working on that now, will open PR and ref here.

[2021-01-28 16:37] #23 closed

[2021-01-28 17:15] jarq6c opened #25 "Document "gotchas" when dealing with Categorical dtype"
@aaraney @hellkite500
I think it's a good idea to explicitly document some peculiarities of dealing with `pandas.Categorical` which are quite common in `evaluation_tools` canonical `pandas.Dataframe`. Bare minimum, I'll add something like this to README.md. Thoughts?

## Note about `pandas.Categorical` data types

`evaluation_tools` uses `pandas.Dataframe` that contain `pandas.Categorical` values

[2021-01-28 18:21] aaraney commented on #25
@jarq6c, having read the stackoverflow post and with regard to the above quote, I don't think I am completely understanding the issue. Can you elaborate?

[2021-01-28 18:51] jarq6c commented on #25
@aaraney Here's a minimal example to duplicate the problem.

[code]

[2021-01-28 19:00] jarq6c commented on #25
I edited the original example to use a smaller dataframe. Basically, the problem is `groupby` will explode with `NaN` if your categorical columns are not tidy.

[2021-01-28 19:27] aaraney commented on #19
Ive spent some more time working on this and I think I may have come to a fair compromise solution. Just to recap a few of the things ive tried since I last commented:

1. Using `cython` to cast from an int to a string. I found that `df.apply(str)` was still slightly faster with a small array, but `df.apply(str)` became the clear winner as the array size increased.
2. Using `numpy.char.mod("%s", d

[2021-01-28 19:33] aaraney commented on #25
Ah I see, thanks for posting the example. To your original point, yeah I think mention of this behavior in the readme will be sufficient. It would not hurt to make note of this and give advice in method docstrings' that return cols with dtype categorical. I prefer `df.groupby('treatment', observed=True).mean()` as the way to avoid the issue or

[code]

I've found that using `apply(str)` is much fa

[2021-01-28 19:36] jarq6c commented on #19
The categorical dtype flexes its strength more on large dataframes. I found categories beats both `str` and `int` in terms of memory efficiency  (and storage as HDF) by a considerable margin on large dataframes. I also found that `str` categories are comparable to `int` categories. The added benefit of `str` categories is that we can use a consistent dtype for all location IDs.

From a previous co

[2021-01-28 19:58] jarq6c commented on #19
It appears that you can be explicit about the `CategoricalDtype`. However, I don't think there's a way around performing the initial cast to `str` (via `astype`, `apply`, etc). There may be differences between chaining `apply` or `astype` or using a `lambda` expression.

Another alternative might be to use `xarray.DataArray.astype` or similar function on the original dataset.

[2021-01-28 20:05] aaraney commented on #19
Right, that was my thinking as well .

I am giving your second suggestion a run at the moment.

[2021-01-28 20:08] aaraney commented on #19
So I tried the following:

[code]

I took ~183 seconds.  I did not report it earlier, but I found early on that casting the values while they are still in an `xarray.DataArray` to be slow.

[2021-01-28 20:20] jarq6c commented on #19
What about merging your above solution with the underlying numpy method? Something like:

`"nwm_feature_id": pd.Categorical(ds["streamflow"].feature_id.values.astype(f"|S{max_digit_length}")`

[2021-01-28 20:25] aaraney commented on #19
Ill give that a go and see if that improves anything. I just tested this:

[code]

It was the slowest so far of the bunch ~212 seconds lol.

[2021-01-28 20:33] aaraney commented on #19
Unfortunately,

took ~148 seconds.

[2021-01-29 14:56] aaraney opened #26 "Add gcp_client usage to README"
Add a simple use case showcasing the `gcp_client` in the root `README.md`.

[2021-01-29 15:02] aaraney opened #27 "Add gcp_client and events docs to gh-pages deployment"
These subpackages need to be added to the sphinx docs so they are deployed on gh-pages.

[2021-01-29 21:57] jarq6c commented on #27
@aaraney Can you document a minimal guide or step-by-step instructions to add new subpackages to the sphinx docs?

[2021-01-29 22:00] jarq6c opened #28 "Add metrics subpackage to compute standard evaluation metrics"
Add an `evaluation_tools.metrics` subpackage with standard methods used to compute evaluation statistics.

[2021-01-29 22:02] jarq6c commented on #28
Already implemented on my fork. Will submit PR after updating README.md and sphinx docs.

[2021-02-02 17:35] aaraney commented on #27
Working on that now. I think it makes sense to turn this into a GH action so that they are auto deployed, so I will likely just cover how to add new documentation.

[2021-02-03 14:46] #28 closed

[2021-02-03 15:35] #27 closed

[2021-02-04 13:23] jarq6c commented on #18
FWIW, here's my current gitflow.

Step 1. Fork the NOAA-OWP/evaluation_tools repository

The instructions located [here](https://docs.github.com/en/github/getting-started-with-github/fork-a-repo) cover forking, cloning a local copy, and updating remotes to keep origin/main synced with upstream/main.

Step 2. Use the [Feature Branch Workflow](https://www.atlassian.com/git/tutorials/comparing-workfl

[2021-02-04 14:05] #25 closed

[2021-02-04 14:25] aaraney commented on #18
Thanks for the input! That is pretty much my gitflow as well. I set an `upstream` remote using  `git remote add upstream <upstream-remote>`. This lets me switch back to my `main` branch in my local fork and pull changes from the `upstream` remote using `git fetch upstream`. Then I just rebase any changes on top of my local `main` with `git rebase upstream/main`.

I wrote most of the guide up yeste

[2021-02-04 14:56] aaraney commented on #18
#33 closes this

[2021-02-04 14:56] #18 closed

[2021-02-04 16:04] jarq6c opened #35 "Request: evaluation_tools.nwis_client CLI"
This is a low priority, but CLIs for different evaluation tools may be useful to non-Python users and various old wizards that like doing everything through bash and system calls. The workflows of these users might benefit from evaluation_tools features like standardized data formats, efficient data retrieval, auto-parsing, caching, canned evaluations, etc. A CLI is a way to meet them halfway.

I

[2021-02-04 16:32] jarq6c opened #36 "Document best practices to use event detection."
Update event detection docstring with some suggested parameters, something like:

# Guide to applying event detection using time series decomposition

The `evaluation_tools.events.event_detection.decomposition` method has two main parameters: `halflife` and `window`. These parameters are passed directly to underlying filters used to remove noise and model the underlying trend (AKA baseflow) in a s

[2021-02-04 16:34] jarq6c opened #37 "Add option to shift start event times to local minima"
Add a parameter that will shift start times produced by `evaluation_tools.events.event_detection.decomposition` to a local minima value.

[2021-02-10 17:01] jarq6c opened #38 "evaluation_tools.metrics False Positives and False Negatives are switched"
While developing a separate workflow I found that `evaluation_tools.metrics.compute_contingency_table` produced contingency tables where the false positives and false negative counts were switched. The unit test was built to pass this bad behavior.

[2021-02-10 18:51] #38 closed

[2021-02-18 14:06] aaraney commented on #35
With old wizards in mind, is the intended functionality to use a long data format as adhered to currently, or pivot output to a wide format? Just curious your thoughts on handling multiple stations.

[2021-02-18 14:37] jarq6c commented on #35
Ah yes, the wide format (one station per column) would more closely match the USGS rdb tab-separated output. That could be an option later. However, I suspect an output format with a fixed number of columns might be easier to use. If we assume old wizards prefer to manually parse CSV output line-by-line in C or FORTRAN, I think they will have an easer time if the number of columns is fixed.

[2021-02-18 14:55] aaraney commented on #35
I agree, I think a long format would be best to implement from both our perspective and any perspective sorcerers.

[2021-02-18 21:02] jarq6c commented on #35
Possible CSV output format:

[code]

[2021-02-18 21:41] #37 closed

[2021-02-24 17:33] aaraney opened #46 "Add examples and procedure for adding future examples to repo"
For the benefit of users, it makes sense to demonstrate example usages of `evaluation_tools` sub-packages. As of now, examples are provided in docstrings and readme's. This form of documentation is suitable for quick reference, however there is a need for more complete example style documentation.

@jarq6c has [written a great example](https://github.com/jarq6c/little_hope) detailing peak flow ana

[2021-02-24 19:20] jarq6c commented on #46
Very nice! Thanks for getting this started.

[2021-02-24 19:30] aaraney commented on #46
For sure. I got everything working locally, however to get the notebooks into the gh-pages deployment without a hacky solution, I had to open a PR to the [nbsphinx-link](https://github.com/vidartf/nbsphinx-link) project. In short, `nbsphinx` (the parent package to `nbsphinx-link`) converts jupyter notebooks to restructured text files that sphinx can render as html. In the aforementioned example di

[2021-03-02 15:43] aaraney commented on #35
Good addition including metadata. I was not familiar with `pd.read_csv(comment="#")` option until now. I like this functionality. With this in mind, I think including a csv writer in the `nwis_client` is a good idea to support users who may want to distribute data in a canonical `evaluation_tools` csv format? Maybe my definition of format is a little loose here, but I hope you get what I mean.

[2021-03-02 15:46] aaraney commented on #46
Just an update to this issue. There has been no feedback or communication over the [PR](https://github.com/vidartf/nbsphinx-link/pull/15) I put in on the `nbsphinx-link` project. Hoping that will change soon.

[2021-03-02 15:53] aaraney opened #49 "Automate gh-pages deployment evalution_tools version tracking"
![Evaluation tools 1.0.0 -- this is the incorrect version.](https://user-images.githubusercontent.com/39420640/109674455-eda5f100-7b44-11eb-9e59-d82e6626db2a.png)

As shown, right now the version number requires manual updating. I need to explore how to improve this.

Tangentially, I think we could improve version bumping for this package and the sub-packages included. I know that [`bumb2version`]

[2021-03-16 17:14] jarq6c opened #50 "nwis_client: Retrieving large amounts of data takes too long"
Case study: A user needs to conduct a long evaluation and wants 25 years of streamflow data from 2000+ USGS gage locations.

Obstacles:

1. We currently only parallelize by site, can we parallelize by chunking in time?
2. How do we get around limited memory?
3. Will this break `requests_cache`?
4. Can a `DataFrame` cache help us here?

Based on a use-case from @hellkite500

@aaraney not necessaril

[2021-03-17 15:27] jarq6c opened #51 "Evaluate the influence of NaN values on event detection"
Possible bug. The event detection methods validate the index, but not the values. The presence of NaN in the value series may produce undefined behavior given the recursive nature of the filters. I want to see if this case needs handling.

[2021-03-26 14:06] aaraney commented on #50
I have conflicting views about this. On one hand, I totally get the desire to have the Swiss army knife of data retrieval tools, but on the other hand I think expecting that one software can fulfill every use case without having to write a bit of code yourself is just not realistic.

Well below are some unsolicited starting solutions.

I think we can achieve this by using a defined time period. So

[2021-04-02 18:27] aaraney commented on #46
Just another update. The PR that I referenced in the previous comment still has not been attended to, so instead, in my personal time, Ive repackaged and published by forked version on PYPI under the name [nbsphinx-multilink](https://pypi.org/project/nbsphinx-multilink/). We can now pull this in as a dependency for displaying notebooks in sphinx.

[2021-04-02 18:36] aaraney commented on #46
Im going to wait to make this addition until #57 has been merged.

[2021-04-06 16:34] aaraney opened #58 "metrics package requires numpy minimum 1.20"
Given the usage of `numpy.typing` in `hydrotools.metrics` if a numpy version < 1.20 is not required the user will get an error. See [release note](https://numpy.org/doc/stable/release/1.20.0-notes.html#numpy-typing-is-accessible-at-runtime) for feature addition in numpy project.

[2021-04-06 16:45] #58 closed

[2021-04-07 19:38] aaraney commented on #50
Just an update to this issue after some outside conversation. I was not on the same page about the intended strengths of the `nwis_client` over say something like `dataRetrieval`. I was under the impression that the main benefits of our `nwis_client` were the canonical dataframe, naive utc time handling, and some performance increases brought by splitting up data retrieval by station. I was not un

[2021-04-07 19:45] jarq6c commented on #50
@aaraney Oh you were right! I think those are _currently_ the main benefits along with the ability to retrieve large volumes of data efficiently using `multiprocessing`. This ticket is really about scalability. How much can we push NWIS and can we implement methods that make it easier to run (and rerun) data hungry workflows?

[2021-04-09 18:35] jarq6c opened #62 "Please add _restclient et al. README.md"
To support deployment to PyPI let's add individual `README.md` documents to each subpackage.

[2021-04-12 14:28] jarq6c opened #65 "Document Canonical Format"
As I'm revisiting the `nwis_client` and `gcp_client` tools, I think this is a good time to be daring and document the fixed vocabulary that describes `hydrotools` canonical dataframes. I'm open to discussion on this topic, but so far I'm leaning toward the column definitions given below. These definitions are not exactly compatible with our internal services, but our internal services are not exac

[2021-04-12 14:32] jarq6c commented on #65
Looping in @christophertubbs

[2021-04-17 03:30] JWCook commented on #14
FYI, a better option for using requests-cache is using [`CachedSession`](https://requests-cache.readthedocs.io/en/latest/user_guide.html#sessions) directly instead of patching with `install_cache()`. It's mostly thread-safe (except for `cache_disabled()`, as you noted), makes it more explicit what you are and aren't caching, and doesn't affect downstream `requests` calls.

Also, the library is bei

[2021-04-20 18:23] aaraney commented on #65
Thanks for writing up this issue, I agree with you that it is worth starting this likely tough to accomplish task. I have a few things id like to weigh in on, so ill try to order this is what I think is easiest to address to likely needs further discussion.

Just nit-picky, I can see in the future supporting either temporally or spatially aggregated metrics. Unless we want to add a field like `agg

[2021-04-20 18:59] jarq6c commented on #65
Thanks for the response! My responses are below.

## `value_time` vs `valid_time`

I like `value_time`. It makes it more explicit that this time is specifically associated with `value`.

## `datetime64[ns]`

No preference from me. Current tools are defaulting to nanoseconds, however. I believe this is the default behavior for `numpy` and `pandas`. Changing this may require special interventions.

[2021-04-21 16:46] aaraney commented on #65
For sure! See my responses below:

Sweet 🚀

Thanks for mentioning what you thought was the default behavior, having looked into that this morning I agree with you that sticking with `datetime64[ns]` is probably best. I ran a few tests converting dates with `pandas` and `numpy` and it seems like it is in our best interest to stick with the default as to not break things.

I agree with you that we a

[2021-04-21 16:59] jarq6c commented on #19
Basic caching implemented for this subpack with #66

Closing this issue here. We can discuss the future of dataframe caching on another ticket.

[2021-04-21 16:59] #19 closed

[2021-04-21 16:59] jarq6c commented on #26
Added example case at the subpack level README with #66

[2021-04-21 16:59] #26 closed

[2021-04-26 13:08] jarq6c commented on #65
Note: This was more words than I expected. I promise I care a lot less than this diatribe would suggest. 😁

It just occurred to me the `series_label` functionality mentioned may already be covered by the `configuration` column.

`pandas.DataFrame.attrs` is an interesting development that seems to address an outstanding issue with `pandas.DataFrame`. It's generally not a good idea to create new obj

[2021-04-27 19:13] jarq6c commented on #50
Note: I was recently implemented a workflow that need 18 hours of NWIS data from 7,541 sites. `nwis_client` retrieved the data in ~50 seconds which is comparable to our internal services.  I'm not sure we can do much better than this. Deserializing the json and optimizing the dataframes is still a CPU bound task, so `multiprocessing` may continue to be an optimal enough solution. Where we could im

[2021-04-27 19:20] jarq6c opened #70 "Implement interface to disable caching for _restclient and nwis_client"
Currently, `nwis_client.iv.IVDataService` sets up caching on initialization. As near as I can tell `_restclient.RestClient` also decides whether to cache at initialization. The result is that there is no native way to disable caching prior to or when requesting data.

Previously, I've successfully used the `requests_cache` context manager to temporarily disable caching, but we might want to offer

[2021-05-03 12:52] #62 closed

[2021-05-10 13:09] amaes3owp opened #76 "As user, I would like event detection to consider when a station is temporarily discontinued"
Good morning.
I am trying to create a list of events for the past 10 days at station FLRV2

https://water.weather.gov/ahps2/hydrograph.php?wfo=rnk&gage=flrv2

https://waterdata.usgs.gov/nwis/uv?cb_00060=on&cb_00065=on&format=gif_default&site_no=02064000&period=10&begin_date=2021-05-03&end_date=2021-05-10

There has been a gage relocation due to a bridge construction. The function rolling_minimum i

[2021-05-10 13:11] jarq6c commented on #76
Good morning Alex:

Can you post your code so we can duplicate the issue?

[2021-05-10 13:15] amaes3owp commented on #76
I am using the evaluation manager calling the file decomposition.py

here is the code:

[code]

[2021-05-10 13:42] jarq6c commented on #76
So far, I'm unable to duplicate this issue. A working example is below. However you'll notice some lines of code are commented out. These lines are preprocessing steps you'll want to include somewhere in your code before calling event detection directly like this. The event detection algorithm expects a continuous time series with a monotonically increasing datetime index.

If you need an example

[2021-05-10 13:56] amaes3owp commented on #76
Humm -
I will check why is not running on my end. The list seems to be suspicios. Are there events on that list that are with no duration or 15 minutes long?

[2021-05-10 14:08] jarq6c commented on #76
That's correct. The method does not filter by default. You'll need to implement your own post-processing or set the `minimum_event_duration` parameter. You may also want to set the `start_radius` parameter to shift start times to a local minimum. You can find documentation for event detection [here](https://noaa-owp.github.io/hydrotools/hydrotools.events.event_detection.decomposition.html).

Examp

[2021-05-10 14:37] jarq6c commented on #76
Is this a request for the event detection algorithm or our internal event detection service? The event detection method hosted here is just a dumb signal processing algorithm that identifies interesting time series features. It doesn't know anything about NWIS or the source signal. The user is the best judge of how to handle their data and whether this particular algorithm is suited to their data

[2021-05-10 14:55] amaes3owp commented on #76
Thank you Jason,
We can close this ticket.

[2021-05-10 17:42] #76 closed

[2021-05-12 19:26] aaraney opened #79 "As a developer, I would like to specify development dependencies at the subpackage level"
At the moment, all development deps are installed at the namespace package level, namely `pytest`. I would like to come to an agreed upon standard for specifying development deps to `setuptools`. Below are two examples `setup.py` file implementations that solve this problem:

1.
[code]

The above is used as such, `python setup.py develop`. This will install all the deps, development deps, and the

[2021-05-12 19:27] aaraney commented on #79
@jarq6c can you weigh in on this with your opinion?

[2021-05-14 15:15] jarq6c commented on #79
Based on a cursory exploration of the current Python packaging landscape, I'm also partial to option 2. This will move us in the direction of explicitly leaning on `pip` to handle packaging for any purpose (development, release, etc).

[2021-05-14 15:26] aaraney commented on #79
I agree moving under the umbrella of `pip` should only help us as `hydrotools` grow. I will open a PR and ref it here moving all subpackages under option 2 in due time. Ill leave this open to track the progress though and document any snags that occur.

[2021-06-09 14:19] aaraney commented on #14
Because of #78, multiprocessing usage should become more obsolete in the context of retrieving data. With that in mind, I am going to close this and we can reopen in the future to continue discussion.

[2021-06-09 14:19] #14 closed

[2021-06-14 13:53] #79 closed

[2021-06-14 15:07] jarq6c commented on #65
Based on the above discussion, I'll propose the following, subject to future expansion as needed:

"Canonical" labels are protected and part of a fixed lexicon. Canonical labels are shared among all `hydrotools` subpackages. Subpackage methods should avoid changing or redefining these columns where they appear to encourage cross-compatibility.

### HydroTools Canonical DataFrame Column Labels
`val

[2021-06-14 15:07] #36 closed

[2021-06-14 15:57] jarq6c opened #90 "stateCd does not work with nwis_client"
I had not realized certain options were non-functional with the current version of `nwis_client`. These options appear to work with the version on the `restclient_transition` branch. So, I would say that makes getting this branch merged into main a high priority.

[2021-06-15 15:57] aaraney commented on #90
Yeah good catch, I was not aware of that either. That sounds like something a `pytest --run-slow` should have caught. I need to create a new gh-action that runs our slow tests every Sunday if something new has been added since the last time the action ran.

[2021-06-15 15:58] aaraney commented on #90
Something similar to [this](https://stackoverflow.com/a/67527144).

[2021-06-16 21:18] #90 closed

[2021-06-25 06:06] aaraney commented on #70
#86 should have closed this. Closing now

[2021-06-25 06:06] #70 closed

[2021-06-29 18:00] jameshalgren opened #98 "nwis-client latest builds broken when installed on Python 3.6"
Importing the latest nwis-client using python 3.6
[code]
fails with
[code]

The error may be more ubiquitous than just the IVDataService import, but that is where [we have had trouble with it](https://github.com/NOAA-OWP/t-route/blob/82e7e62d74ac1ec8e876932921cb42adf31006e4/src/python_routing_v02/troute/routing/diffusive_utils.py#L350).

A brief conversation with the developers suggested that a do

[2021-06-29 18:39] aaraney opened #99 "google collab bug affecting nwis_client and _restclient. Throws RuntimeError: This event loop is already running"
In google collab instantiating a `RestClient` ( this is implicitly done by `nwis_client.IVDataService` ) will cause a `RuntimeError: This event loop is already running` in `google collab`.  This issue is well documented in the [`jupyter notebook`](https://github.com/jupyter/notebook/issues/3397) repo. In that thread, a work around using `nest_asyncio` was mentioned as shown below. The problem and

[2021-06-29 18:51] aaraney commented on #98
@jameshalgren, having briefly looked into the dependencies required by the `nwis_client`, namely `hydrotools._restclient` which is causing this issue, it will not be feasible to roll back and support python 3.7. The package `aiohttp` which both the `nwis_client` and `_restclient` are highly dependent on requires `>= 3.7`. I tracked down the [git blame](https://github.com/aio-libs/aiohttp/pull/5278

[2021-06-29 18:53] jarq6c commented on #99
Can we make the try/catch specific enough that it only catches this edge case?

[2021-06-29 18:58] jarq6c commented on #98
FTR: Even before I was aware of `aiohttp`'s decision, I was opposed to backwards compatibility with 3.6. The EOL justification is nice to cite though. Thanks @aaraney

[2021-06-29 19:00] jameshalgren commented on #98
All this is consistent with our plan to separate the data handling code from the processing code. Thank you for the additional information.

[2021-06-29 19:00] #98 closed

[2021-06-29 19:01] aaraney commented on #99
I believe so, here is a generic example:

[code]

[2021-06-29 19:03] aaraney commented on #99
Now down the line if the error message changes this will break, but it is the only alternative I can think of off the top of my head although admittedly it is a little frail.

[2021-06-29 19:48] aaraney commented on #99
I reproduced the exception using the bellow snippet:

[code]

[2021-06-30 11:23] aaraney commented on #46
Given the state of #88, I am going to close this for now. We can reopen for continued discussion in the future.

[2021-06-30 11:23] #46 closed

[2021-07-16 20:57] jarq6c opened #101 "gcp_client: update multiprocessing to use futures"
Switch from calling `multiprocessing` directly and use `concurrent.futures.ProcessPoolExecutor`. This will allow process chunking, which may yield a slight performance increase.

[2021-07-26 13:00] #50 closed

[2021-07-26 14:43] #101 closed

[2021-07-27 18:33] jarq6c opened #107 "NWIS Client: startDT and endDT get shifted an hour"
When retrieving data using the `nwis_client` tool, something is happening when specifying the `startDT` and `endDT` options where the returned data is shift forward in time by 1 hour. May be able to clean-up the date handling and hand-off a lot to `pandas`.

[2021-07-27 18:36] jarq6c opened #108 "Update metrics and events to reflect new nwis client interface."
As is the examples fail with:

TypeError: get() missing 1 required positional argument: 'self'

[2021-07-27 19:14] jarq6c opened #109 "New repo structure borked gh pages documentation."
Need to update documentation workflow.

[2021-07-27 19:51] jarq6c opened #110 "HydroTools is trademarked"
Looks like we'll need to rename the package... again.

[2021-07-28 13:49] jarq6c opened #111 "Add citation file"
https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-citation-files

[2021-07-28 18:07] jarq6c commented on #110
We'll leave the package name the same, but will update the banner to read "OWPHydroTools".

[2021-07-28 18:36] #110 closed

[2021-07-28 18:48] jarq6c opened #113 "Add method to transform units returned by gcp_client and nwis_client"
So annoying to remember to transform units from gcp_client to compatible units with nwis_client.

[2021-07-29 16:54] jarq6c commented on #107
So the issue seems to be on NWIS' end. Steps to duplicate:

[code]

Output:
[code]

Expected output:
[code]

I checked this against NWIS directly using:
https://nwis.waterservices.usgs.gov/nwis/iv/?format=rdb&sites=01646500&startDT=2018-01-01T00:00%2b0000&endDT=2019-01-01T00:00%2b0000&parameterCd=00060&siteStatus=all

This request explicitly specifies that the timezone is +0000 (UTC) for startDt a

[2021-07-29 17:19] james-d-brown commented on #107
@jarq6c

Sounds vaguely familiar.

Anyway, I think you're right: 2018-01-01T00:00Z is 2017-12-31T19:00-05:00 or 2017-12-31T19:00 EST, not 2017-12-31T20:00 EST.

If I'm not mistaken, we've seen something similar and asked USGS and they discovered a bug related to daylight saving for some times and/or locations. Either way, I think it's worth asking them - they are usually pretty responsive :)

[2021-07-29 17:44] jarq6c commented on #109
Fixed by #114

The installation is a bit less elegant, but we can revisit how to (re) automate that procedure in the future.

[2021-07-29 17:44] #109 closed

[2021-07-29 19:16] #108 closed

[2021-07-29 19:46] #111 closed

[2021-07-29 20:11] aaraney commented on #107
@jarq6c

I remember running across this in the past and if my memory serves me right, this may be seasonal behavior -- meaning, if it is not currently daylight savings time in the U.S. the dates are correct, but I may be misremembering.

Below, i've included a script for reproducibility and a crude map that shows the spatial distribution of USGS gauge UTC time discrepancies at the turn of the 2018

[2021-07-29 20:15] aaraney commented on #107
It is not surprising that Arizona is correct, given the state does not use daylights savings time. It is worth noting that correctness appears (for this tiny sample) to be linked at the state level, it might be worth exploring this potential lead.

[2021-07-29 20:25] jarq6c commented on #107
I'm guessing it's related to how each field office records their data and/or the local time used by their field equipment. As James suggested, I supposed we could report this upstream to USGS. But in the short term, I'll just have to keep this in mind when requesting data.

Thanks for putting this together! (-1 point for the color scheme though).
[code]
![Figure_1](https://user-images.githubuserco

[2021-07-29 20:57] jarq6c opened #117 "Update nwis client to canonical format"
`nwis_client` returns a `value_date` column. We will add a `value_time_label="value_date"` option to continue this behavior.

Update 1: Add `value_time_label="value_date"` to `__init__` that will raise a deprecation warning. Default behavior will return `value_date`. `value_time_label="value_time"` will return `value_time`.

Update 2: Default behavior is `value_time_label="value_time"`. Warn if th

[2021-07-29 21:15] jarq6c commented on #117
DeprecationWarning is suppresed by default. Changing to UserWarning.

[2021-07-29 21:49] jarq6c commented on #117
Update 1 implemented in #118

[2021-07-30 15:46] aaraney commented on #107
For sure! My apologies to the colorblind community, thanks for mentioning it and creating an inclusive map.

[2021-07-30 15:54] james-d-brown commented on #107
@aaraney @jarq6c

It is not perfectly inclusive because it doesn't cater to those of us with a principled objection to the color orange.

[2021-08-04 13:22] jarq6c commented on #107
Follow-up: USGS feedback form seems to be broken.

[2021-08-04 13:33] james-d-brown commented on #107
@jarq6c

You could try Joe Nielsen (jnielsen@usgs.gov) who has helped me in the past w/ queries about NWIS, although I think he's fairly high up in the organization (Acting CPO or some such), so he may not reply immediately. I have other names too, but Joe is probably a good bet to either answer or forward.

[2021-08-05 13:19] aaraney opened #121 "Potential accidental file left in nwm_client from #120"
@jarq6c I noticed `python/nwm_client/main.py` originating from #120, was this file accidentally committed? The commit message, `temp test script`, further brought it to my attention.

[2021-08-05 13:35] jarq6c commented on #121
Yup! That should not be there. `'build` won't theoretically include it in the package, but it should be untracked and removed from the repo.

[2021-08-05 17:53] #65 closed

[2021-08-05 18:04] #121 closed

[2021-08-09 12:36] jarq6c commented on #51
The filters seem robust again NaN values. The algorithm completes and returns data if NaNs are present. I ran the example below using a 7-day (larger than the gap) and a 30-minute (smaller than the gap) window. The NaNs will definitely influence the deviation from the median signal and effect where the start and end event time land. It's still not recommended to run event detection on time series

[2021-08-09 12:41] jarq6c commented on #51
I do think missing values ought to be handled in a preprocessing step and the README/docs recommend tips to run event detection, including filling missing data. However, this burden is on the caller. There are too many types of signals and data to account for all the possible ways a given time series could be filled. In some cases, it comes down to personal preference.

I would certainly question

[2021-08-09 13:36] #51 closed

[2021-08-12 17:28] jkreft-usgs commented on #107
Hi folks-

I'm Jim Kreft, the product owner for the NWIS services referenced above, as well as next generation services that are currently in-flight and launching in beta soon.

Whether or not a location respects daylight savings time is indeed managed at the local office level, and harks back to a time when most of the users of the data were expected to be local cooperators, rather than national-

[2021-08-13 14:14] jarq6c commented on #107
@jkreft-usgs Thanks for the reply and additional insight!

[2021-08-13 14:14] #107 closed

[2021-08-18 11:49] jarq6c opened #127 "Limit nwm_client.gcp memory usage"
The default settings limit retrieval to channel reaches that coincide with USGS gage sites. However, things quickly spiral out of control when attempting to conduct large scale analyses that require all 2.7+ million NWM reaches. This submodule needs a way to limit the maximum number of values held in memory. This likely means a bit of a redesign and a change to the default cache.

[2021-08-18 15:07] jarq6c commented on #127
I'll let this issue serve as a way to formalize requirements to efficiently retrieve and store model output for analysis.

Currently, we have a need to:
- [ ] Retrieve NetCDF output from Google Cloud Platform
- [ ] Retrieve NetCDF output from generic web servers (NOMADS, webserver directory listings, `http.server`)
- [ ] Generate `pandas.DataFrame`s containing time series of simulated or forecaste

[2021-08-20 02:55] jarq6c commented on #127
Tried various methods to go from remote non-DAP NetCDF files to a `pandas.DataFrame`. The best option for retrieving large amounts of data (on the order of 10<sup>4</sup> to 10<sup>6</sup> values) was to download the files locally and use `xarray.open_mfdataset` then `xarray.Dataset.to_dataframe`. This will likely circle us back to using `asyncio` to retrieve temporary files, merge data into a sin

[2021-08-24 15:15] aaraney commented on #127
I have a few comments that I will lump into one. Ill try to split it up so it is easily followable.

## Clarifying question

Should we limit the number of values held in memory or the memory amount? My vote would be amount of memory. I think it would be easier to enforce and implement.

## Regarding the NetCDF in-memory problem

First off, this is interesting work that has use cases beyond the NWM

[2021-08-24 16:13] jarq6c commented on #127
Yes, the problem is amount of memory, not necessarily the number of values. The issue that arises has to do with how the current `gcp_client` retrieves files and constructs dataframes. The original assumption guiding `gcp_client` was targeted retrieval of streamflow simulations at limited locations (USGS sites). This meant we were generally retrieving between 1000 and 7000 features. The current `g

[2021-08-25 16:10] #99 closed

[2021-08-25 16:15] aaraney commented on #110
Just now going through some old issues. @jarq6c can you include the entity that has this name trademarked? Depending on the context and products of the business, I do not think we will need to change the package name again. See the [What is a trademark?](https://www.uspto.gov/trademarks/basics/what-trademark) document by the U.S. Paten and Trademark office. Specifically,

[2021-08-25 16:22] aaraney opened #131 "Add gh-action to run unit tests marked slow at some regular interval"
Yeah good catch, I was not aware of that either. That sounds like something a `pytest --run-slow` should have caught. I need to create a new gh-action that runs our slow tests every Sunday if something new has been added since the last time the action ran.

_Originally posted by @aaraney in https://github.com/NOAA-OWP/hydrotools/issues/90#issuecomment-861621966_

[2021-08-25 16:29] aaraney commented on #51
I agree with your decision here (not that it matters). You should be able to use the tool improperly. I think there is sufficient documentation and citations to feel comfortable about this issue.

[2021-08-25 16:53] jarq6c commented on #110
Yeah, it's in an entirely different domain: [https://hydrotoolsparts.com/](https://hydrotoolsparts.com/).

I changed the banner and references in documentation to make it more specific that this is DOC/NOAA/NWS/OWP hosted software, but the actual package name did not change.

[2021-08-26 18:35] jarq6c opened #132 "Top level metapackage does not pull in nwm_client[gcp]"
The top level metapackage should either pull in gcp dependencies by default or include a target like `hydrotools[gcp]` that does.

[2021-09-02 20:43] stcui007 opened #133 "Error in calling the nwis function for some of the catchments/station numbers"
When running my python code, which extract USGS data for hydrograph, it works for most of the station sites. But occasionally, it fails for some of the station sites, and produces the following errors. The station sites that cause failure are:
station #:
01189000
01010070
01017000
01015800
start date: "2015-12-01 00:00:00", end date: "2015-12-30 23:00:00" are all the same.
 ---

obs = nexus._hydro

[2021-09-02 23:53] jarq6c commented on #133
Thanks Shengting.

I successfully reproduced the error with the following:

[code]

The error seems to originate here:
https://github.com/NOAA-OWP/hydrotools/blob/908e00089cdd8c0f1d669fe21a454589c84ca78a/python/nwis_client/src/hydrotools/nwis_client/iv.py#L262

Looks like the issue is when NWIS returns an empty time series it results in an empty `pandas.DataFrame`. A `KeyError` is raised when the

[2021-09-03 00:14] aaraney commented on #133
@stcui007, thanks for reporting this and thanks @jarq6c for verifying and reproducing the bug. I was able to reproduce it locally as well. I believe your thinking is correct @jarq6c, some logic was changed in #86. I will submit a PR and reference it here. Thanks!

[2021-09-03 12:33] stcui007 commented on #133
I have a check for empty dataframe in my code. When I get a returned empty
dataframe, I check for it and skip the step. For the reported case, the
function call doesn't come back so I can't check for it at my end.

On Thu, Sep 2, 2021 at 7:14 PM Austin Raney ***@***.***>
wrote:

[2021-09-03 13:45] aaraney commented on #133
@stcui007, no worries. My apology if I implicitly suggested that you needed to do anything. This was just a bug in the software. #134 should resolve the issue.

[2021-09-03 14:09] stcui007 commented on #133
Hi Austin and Jason,
Thanks for spending time on resolving the issue. No apology is necessary as
I put in the test code before filing the ticket.

On Fri, Sep 3, 2021 at 8:46 AM Austin Raney ***@***.***>
wrote:

[2021-09-09 12:24] #133 closed

[2021-09-09 12:35] jarq6c commented on #133
Fix has been deployed:
https://pypi.org/project/hydrotools.nwis-client/3.0.5/

@stcui007 @aaraney @hellkite500

[2021-09-09 17:53] stcui007 commented on #133
Thanks for working on this.

On Thu, Sep 9, 2021 at 7:35 AM Jason A. Regina ***@***.***>
wrote:

[2021-09-21 20:03] jarq6c opened #136 "Wiki links to old repository"
Need to update the Wiki page to point to a real documentation page.

https://github.com/NOAA-OWP/hydrotools/wiki

This link currently points to a non-existent repository.

[2021-09-28 13:11] jarq6c opened #137 "Investigate unit of measurement handling"
HT currently has no formal unit of measurement handling. We may be able to incorporate a library like Pint to deal with this.

https://pint.readthedocs.io/en/stable/

[2021-10-05 20:34] jarq6c opened #139 "Jupyter Notebook RuntimeError: This event loop is already running"
# Duplicate
[code]

Tagging @aaraney  for advice. It seems #100 fixed the issue in Google Collab, but it still persists in Jupyter Notebook and Spyder (which may have further issues with `asyncio`).

Running the code above inside a Jupyter Notebook or from Spyder resulted in `RuntimeError: This event loop is already running`.

# Fix
You can resolve the error by adding
[code]

[2021-10-06 16:48] aaraney commented on #139
@jarq6c thanks for tagging me here. It looks like `hydrotools._restclient` version `3.0.4` from #130 was never published to pypi. I can take care of that and it should resolve the issue. We likely want to pin the `_restclient` version `nwis_client` is using to `>=3.0.4`.

[2021-10-06 17:06] aaraney commented on #139
The new [`_restclient` version](https://pypi.org/project/hydrotools.-restclient/3.0.4/) is now up.

[2021-10-06 17:17] aaraney commented on #139
I just verified that `3.0.4` resolves the issue in jupyter lab. I will open a PR to require `3.0.4` or higher in `nwis_client`!

[2021-10-08 16:08] #139 closed

[2021-10-08 16:10] #136 closed, assigned to jarq6c

[2021-10-26 18:44] aaraney opened #141 "Events package structure question"
I noticed while looking around the package today that the `event_detection` module is nested one level deeper than typical and does not have a parent subsubpackage (directory above with `__init__.py`).

More concretely, on the path `hydrotools/python/events/src/hydrotools/events/event_detection/`, there is an `__init__.py` in the `event_detection` directory but not in the `events` directory. @jarq

[2021-10-26 19:44] aaraney opened #143 "Update CONTRIBUTING.md"
The contents of `CONTRIBUTING.md`, specifically the guide to create a new subpackage is little outdated. This is just a placeholder for when someone finds time to update the `CONTRIBUTING.md` document.

[2021-10-27 19:57] jarq6c opened #144 "`nwm_client_new` does not have a `__version__` attribute"
Trying to limit the scope of the recent massive PR. I will address this later.

[2021-10-27 19:59] #132 closed, assigned to jarq6c

[2021-10-27 20:01] jarq6c opened #145 "Change crosswalk source to HydroShare"
Currently `nwm_client_new` uses the old RouteLink CSVs to generate the default crosswalk. We want to change this to pull the crosswalk from HydroShare and cache it like any other dataframe.

[2021-10-27 20:23] jarq6c opened #146 "Explore applying `dask` to `nwis_client` requests"
@aaraney

Encountered a use-case where `nwis_client.iv.get` was attempting to generate a `pandas.DataFrame` larger than memory. This involved retrieving ~1 year of data from ~1000 sites. Since it's `pandas` this of course failed. We were able to work around the issue by chunking the request into batches of ~100 sites, but this seems like something the `nwis_client` could do on its own.

I'm wonder

[2021-10-28 19:28] jarq6c opened #147 "`hydrotools.metrics` Add coefficient of persistence and coefficient of extrapolation"
The coefficient of persistence and the coefficient of extrapolation are similar to Nash-Sutcliffe Model Efficiency (Mean Squared Error Skill Score). The coefficient of persistence uses the persisted value at the beginning of the forecast as the baseline/expected value. The coefficient of extrapolation uses the first-order approximation derived from recent observations.

Reference:
Kitanidis, P. K.

[2021-10-29 13:22] jarq6c opened #148 "Explore application of the `uncertainties` package."
https://pythonhosted.org/uncertainties/

[2021-10-29 18:59] aaraney commented on #141
Do you have an opinion on the future of the `events` package? I am happy to retain it as it's own namespace package (as it is now). However, I am equally happy to keep it the way it is for flexibility in the future.

[2021-10-29 19:16] jarq6c commented on #137
This issue is related to #113

[2021-10-29 19:19] jarq6c commented on #137
Parking this example here:
[code]
## Output
[code]

[2021-10-29 19:38] aaraney commented on #146
Thanks for doing a little digging, @jarq6c. Having skimmed the Parquet specification, I see why it is the preferred solution and why we might want to prefer it for this application as well. From my reading, parquet is opinionated about compression and less so about chunking and splitting a dataset into multiple files. Where as with zarr, it is much more of a framework when it comes to compression

[2021-11-01 16:11] amaes3owp opened #150 "SSL Cert Verification Error"
Good morning Jason -
I moved my evaluations from one machine to another during the weekend and was able to run some evaluations. When using the nwis client I got the following error.

ERROR: Unable to retrieve observations... EXITING: Cannot connect to host waterservices.usgs.gov:443 ssl:True [SSLCertVerificationError: (1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get

[2021-11-03 17:32] #144 closed

[2021-11-03 17:36] jarq6c commented on #141
No _strong_ opinions at this point. My preference might be to leave it, unless there's a compelling reason to change it. I would rather future development guide what we do, say when/if different event based analysis methods get added like `events.event_analysis` or the like.

[2021-11-03 17:39] jarq6c opened #151 "Conversation: Use of `httpx`?"
@aaraney

Opinions on this package?
https://www.python-httpx.org/

[2021-11-03 17:53] jarq6c opened #152 "Run Tests is failing"
[code]

[2021-11-03 17:54] jarq6c commented on #152
@aaraney Not sure what's up yet. Recent merge of the updated `nwm_client_new` triggered a failure.

[2021-11-03 18:09] jarq6c opened #153 "`nwis_client`: `SyntaxError`"
# Issue
`hydrotools.nwis_client` version 3.0.6 raises a `SyntaxError` on `import`.
@aaraney would you mind looking into this?
# Environment:
[code]
# Duplicate
[code]
# Error
[code]

[2021-11-03 18:11] jarq6c commented on #153
Note: Encountered this error while trying to troubleshoot #150

[2021-11-03 18:20] aaraney commented on #153
@jarq6c, thanks for bringing this to my attention. I will take a look at it.

[2021-11-03 19:17] aaraney commented on #153
This looks like it might be a downstream issue with `aiohttp_client_cache`. I was able to reproduce the issue by just importing `aiohttp_client_cache`:

[code]

[2021-11-03 19:23] aaraney commented on #153
I will try rolling back the version of `aiohttp-client-cache` and see if this resolves the issue. `v0.5.1` of `aiohttp-client-cache` was released on September 10, 2021 so I would have hoped that other tests would have caught this before then. Ill update the ticket with my findings shortly.

[2021-11-03 19:27] aaraney commented on #153
I found that rolling back `aiohttp-client-cache` did not mitigate the issue. My guess is this is related to `aiohttp`'s October 31, 2021 release. Going to try rolling back `aiohttp` from `3.8.0`.

[2021-11-03 20:41] aaraney commented on #153
pinning self opened issue [`aiohttp-client-cache` #103](https://github.com/JWCook/aiohttp-client-cache/issues/103)

[2021-11-03 20:56] aaraney commented on #153
redeployed [`_restclient`](https://pypi.org/project/hydrotools.-restclient/3.0.5/) (see #154)

update using:

[code]

[2021-11-03 20:57] aaraney commented on #150
Not sure that this is related to #153, but it might be worth updating `_restclient` @amaes3owp.

Do the following to update:

[code]

[2021-11-03 20:59] aaraney commented on #153
I [heard back](https://github.com/JWCook/aiohttp-client-cache/issues/103#issuecomment-960026781_) from the maintainer of `aiohttp_client_cache`:

[2021-11-03 21:02] amaes3owp commented on #150
Thank you guys for checking on this. Let me try it. I will also try to have a new clean python installation.

[2021-11-03 21:29] jarq6c commented on #152
Appears to have been fixed by #154

[2021-11-03 21:34] jarq6c commented on #153
Thanks for doing all the leg work!

[2021-11-03 21:34] #153 closed

[2021-11-03 21:34] #152 closed

[2021-11-03 21:40] aaraney commented on #153
For sure! Have a nice evening!

[2021-11-03 21:57] jarq6c commented on #153
Just confirming that the error was fixed on my end by updating `_restclient`

[2021-11-03 21:59] jarq6c commented on #150
I was unable to duplicate this issue using the latest version of `hydrotools.nwis_client` and `hydrotools._restclient` deployed to a clean Python virtual environment on the same machine.

[2021-11-04 14:08] aaraney commented on #151
This is the first I've heard of this package, so as of now, I don't have an opinion. That said, having looked through their docs, it seems like a hybrid between `requests` and `aiohttp`, although not as feature rich as `aiohttp`.

To hopefully further the conversation, what is the motivation for the conversation? (That sounded a bit clinical, but I certainly don't mean it to come off that way ☕️😴)

[2021-11-04 14:10] aaraney commented on #150
That's good to hear @jarq6c. @amaes3owp, are you still facing an issue? Or can this be closed?

[2021-11-04 14:59] amaes3owp commented on #150
I need a little more time to test.

[2021-11-04 18:00] amaes3owp commented on #150
Here is my code:

import os
import pandas as pd

# Import Hydrotools module
from hydrotools.nwis_client.iv import IVDataService

def read_nwis_client():

    print("Reading ")
    service = IVDataService()
    df = service.get(sites='01646500', startDT='2021-01-01', endDT='2021-02-01')
    print(df.head())
    return df

# ---------------  MAIN --------------------
if __name__ == '__main__':

prec

[2021-11-04 18:24] jarq6c commented on #150
This snippet worked for me.

[code]

[2021-11-04 19:16] amaes3owp commented on #150
Good -
Austin we did a test, then it seems that the issue is related to the miniconda installation.
I am going to reinstall miniconda.

We can close this ticket.

Thanks!
Alex

[2021-11-05 19:21] #150 closed

[2021-11-09 20:44] #145 closed

[2021-11-10 19:42] jarq6c opened #157 "Add client tool for NWM 2.1 Retrospective data"
The NWM 2.1 Retrospective data has been released in zarr format on AWS. Add a client tool to retrieve these data in HydroTools canonical dataframes.

Example to get going:
[code]
# Output
[code]

[2021-11-15 16:28] jarq6c commented on #131
Has this been resolved? It looks like slow tests have been running.

[2021-11-15 17:42] aaraney commented on #131
Yes this has been resolved. Sorry, I should have closed this a long time ago.

[2021-11-15 17:42] #131 closed

[2021-11-15 20:20] jarq6c commented on #157
Here's an updated example. Recent versions of `xarray` and `zarr` perform the `fsspec` magic automatically.

[code]

[2021-11-16 15:30] jarq6c opened #160 "NWIS Client: Possible case sensitivity issue"
It appears the NWIS IV service is case-insensitive. For example, note the use of `startDT` and `startdt` in the two calls below:

https://waterservices.usgs.gov/nwis/iv/?format=json&sites=01646500&startDT=2021-11-01&endDT=2021-11-02&parameterCd=00060&siteStatus=all

https://waterservices.usgs.gov/nwis/iv/?format=json&sites=01646500&startdt=2021-11-01&enddt=2021-11-02&parameterCd=00060&siteStatus=a

[2021-11-16 15:55] aaraney commented on #160
Hmm, so what it sounds like you are suggesting that we *should* normalize keyword argument keys? I am fine with dropping the case for keyword arguments. This seems like a feature that we would not advertise in effort to implicitly standardize user usage of the software, but I am all for supporting this. Something like this following should work:

[code]

[2021-11-16 16:06] jarq6c commented on #160
Actually I'm more partial to standardization. In which case, instead of
dropping case-sensitivity, we could raise a helpful error message.

On Tue, Nov 16, 2021, 09:55 Austin Raney ***@***.***> wrote:

[2021-11-16 16:14] aaraney commented on #160
So, maybe something like this?

[code]

[2021-11-16 16:54] jarq6c commented on #160
I like it. What do you think?

[2021-11-16 21:39] aaraney commented on #160
I also like it. I think it is more clear how to resolve an issue which is desirable given the intended audience.

[2021-11-18 13:53] jmpmcmanus opened #161 "nwm_client_new not available"
Hi - I installed hydrotools using pip: https://pypi.org/project/hydrotools/ but when I try to import anything
from hydrotools.nwm_client_new I get:

from hydrotools.nwm_client_new.NWMFileClient import NWMFileClient
raceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'hydrotools.nwm_client_new'

Why is nwm_client_new not available in the pip

[2021-11-18 14:05] jarq6c commented on #161
This `nwm_client_new` package is still in beta and has not been deployed to PyPI yet. If you would like to test the new package, you can install the package directly from GitHub using:

[code]

Alternatively, you can install the current stable `nwm_client` package from PyPI:

[code]

[2021-11-18 14:20] jmpmcmanus commented on #161
Thanks. That worked. However, when I attempt to run the example:

# Import the nwm Client
from hydrotools.nwm_client_new.NWMFileClient import NWMFileClient
import pandas as pd

# Instantiate model data client
#  Defaults to Google Cloud Platform
client = NWMFileClient()

# Set reference time
yesterday = pd.Timestamp.utcnow() - pd.Timedelta("1D")
reference_time = yesterday.strftime("%Y%m%dT%-HZ")

[2021-11-18 14:41] jarq6c commented on #161
`nwm_client` and `nwis_client` use the `asyncio` library which currently has problems with interactive environments like Jupyter Notebooks and Spyder. If you're using one of these environments you'll want to import and apply `nest_asyncio` as shown below. Note this must be done before any other imports.

[code]

[2021-11-18 14:56] jmpmcmanus commented on #161
I am using Jupyter, and that worked. However, now I am getting error about sort_values:

AttributeError: 'DataFrame' object has no attribute 'sort_values'

I get this error when running it in Jupyter and the Python prompt. Here is the full output from the python prompt:

 warnings.warn(message)
Traceback (most recent call last):
  File "<stdin>", line 3, in <module>
  File "/home/jmcmanus/anaconda

[2021-11-18 15:41] jarq6c commented on #161
That's odd. Is it possible you're using an older version of `dask`?

[2021-11-18 16:06] jmpmcmanus commented on #161
I already had dask installed as part of pangeo. It was installed using conda. Its version number is 2021.02.0.
I will try it on a newer version.

[2021-11-18 17:56] jmpmcmanus commented on #161
I updated my pangeo environment installing dask 2021.11.1 and everything is working! Thanks for your help!!

[2021-11-18 19:04] jarq6c commented on #161
Great news! We'll leave this ticket open until `nwm_client_new` is deployed to PyPI.

[2021-11-18 20:47] jarq6c opened #162 "`nwm_client_new`: Minimum dask version 2021.11.1"
Looks like `sort_values` is somewhat recent to `dask`, requiring a minimum version. This ticket is to update `setup.cfg` with a minimum `dask[complete]>=2021.11.1`.

[2021-11-22 16:41] jarq6c commented on #157
I experimented with alternative methods of data retrieval, mostly focused on trying to get `dask` to automatically partition and control memory usage for large requests. However, I found the additional overhead introduced did not seem to scale well (as least for potential evaluation applications) on a `LocalCluster`. If your goal is retrieving large continuous chunks of data, then `dask` for retri

[2021-11-23 14:55] jarq6c commented on #157
Here's an example implementation of the principles explained above.
[code]
To make the "parallel" version work, I think you'd have to use `futures` or `delayed` objects. I think every process would require its own `ds = xr.open_dataset`, which involves some overhead. This may be the best we can do on a single machine.

Having said that, there is potential here to scale up to a real distributed clu

[2021-12-10 16:18] jarq6c opened #164 "Can NWM Client tools handle Hawaii?"
Hawaii short range output is 15 minutes. Does this cause issues with our client tools?

[2022-01-12 17:12] christophertubbs opened #166 "Implement AUC"
Area-under-curve is something that would be super useful for diagnostic/descriptive purposes.

[2022-01-12 17:13] christophertubbs opened #167 "Implement Kling-Gupta"
Kling-Gupta is a metric that would be very helpful for descriptive/diagnostic purposes.

[2022-01-12 17:14] aaraney commented on #166
Agreed @christophertubbs. I think an ROC chart would be really nice.

[2022-01-12 17:21] jarq6c commented on #166
Can you be more specific? Is this AUC for any arbitrary function or AUC for a single valued time-series, something else?

How does the interface look? What's the expected return value?
[code]

[2022-01-12 19:31] christophertubbs commented on #166
I think we're looking at:

[code]

`96.64`

It'll be the auc for a single valued time series. I think? I have a little more research to do to figure out all that we'll need to do with it. At this point I mostly just know that we need it and people get ornery if I break out sklearn. I think we do/will need the roc chart, but it hasn't been brought up yet.

Now, what would be REAL cool is if we coul

[2022-01-12 20:53] jarq6c commented on #166
OK, this looks like numerical integration. I didn't do the math, but it looks like you're using a typical LHS (left-handed) Riemann Sum to compute the "area under the curve" of the function y(x). This is doable, but will require a little bit of design to allow for different quadrature rules. We'll also want to check for basic continuity/smoothness (i.e. the independent variable needs to be uniquel

[2022-01-12 20:57] christophertubbs commented on #166
sklearn learn does it :D

That's where I got all the math.

[2022-01-13 02:10] hellkite500 commented on #166
Derivatives, derivatives, derivatives, derivatives.....Remember, don't drink and derive.

[2022-01-13 13:11] christophertubbs commented on #166
Do I _look_ like I remember _anything_ from math in college?

[2022-01-13 13:24] jarq6c commented on #166
scikit-learn already has these methods. I don't think we should be reinventing the wheel. One of the motivations of `hydrotools` being a Python package suite was potential interoperability with popular well-established scientific computing libraries. The `hydrotools.metrics` package re-implements some basic metrics for convenience, but the vast majority of the metrics in this package are specific

[2022-01-13 13:57] christophertubbs commented on #166
Alrighty, closing the issue.

[2022-01-13 13:57] #166 closed

[2022-01-13 15:01] hellkite500 commented on #166
Is it worth wrapping the method under the hydrotools package to ensure a uniform interface? If not, then it is probably worth some documentation on how to use scikit/scipy with hydrotools data in conjunction with methods provided by the package.

[2022-01-13 15:26] jarq6c commented on #166
Yes, we've discussed adding some example workflows to the repository documentation. An annotated notebook demonstrating how to combine `nwis_client`, `nwm_client`, and `sklearn` is a good idea.

[2022-01-14 21:09] jarq6c opened #168 "Package Request: Plotting Support"
This issue is for discussion of incorporating plotting utilities into `hydrotools`.

[2022-01-14 21:11] jarq6c commented on #168
@aaraney

[2022-01-27 16:09] aaraney commented on #160
A third option that we did not mention is removing `**params` from the method call and let python handle arguments that are incorrectly named. We could "forward" any applicable keyword arguments from `get_raw` to `get`'s method signature. For example, the `max_sites_per_request` from `get_raw` could be added to `get`'s method signature.

[2022-01-28 22:11] jarq6c opened #170 "Document method to obtain NWM data from GCP"
This ticket serves as a discussion area for downloading National Water Model data from Google Cloud Platform using `hydrotools`.

# Installation
Assuming a UNIX-like environment, execute the following commands. The primary outcome should be a Python virtual environment with the `hydrotools.nwm_client[gcp]` package installed from PyPI.
[code]

# Basic Example
Open `main.py` in your preferred editor

[2022-02-02 17:35] jarq6c opened #171 "Link to AGU Poster"
@MarkGlaudemans-NOAA has requested we link to the AGU 2021 OWPHydroTools poster. I will likely add this link to the README.

https://github.com/NOAA-OWP/OWP-Presentations/blob/main/AGU_2021/Poster_Presentations/J.Regina_OWPHydroTools_AGU2021.pdf

[2022-02-03 23:12] MarkGlaudemans-NOAA commented on #171
hello Jason,

Here is a link to the current NWM DMP.  Comments (in the doc) are welcome.
https://docs.google.com/document/d/13BE9nRmuqvxLVQ4bmsgy0F7KtjXfNsRuX-9xmhCfQK8/edit

thanks for the link to AGU poster, and for ongoing convo on better services.
mark

On Wed, Feb 2, 2022 at 12:35 PM Jason A. Regina ***@***.***>
wrote:

--

Mark Glaudemans, P.E. | Geo-Intelligence Division Director
Office of

[2022-02-07 21:31] amaes3owp opened #173 "As ROE user, I am getting a file that cache nwis data in my working folder that is collapsing the system."
Hello guys!
I have a brand new installation of miniconda3 (version 3.8) on a new system. I am calling the IV module to retrieve NWIS data and see a file in my working folder called:

 /[working_folder]/nwisiv_cache.sqlite

How can I tell the program that I want that file in an specific location (i.e. /home)?
I do not want this huge file to affect my system, where is this file installed by default?

[2022-02-07 21:56] jarq6c commented on #173
@aaraney It appears there may be some unexpected behavior here.

# Example
[code]

# Output
[code]

# Expected behavior
With such a short `cache_expire_after` parameter, I would expect the size of the cache to decrease over time. However, it appears the cache only increases.

[2022-02-07 22:35] amaes3owp commented on #173
Here is the code I am using:

# Retrieve USGS Observations using nwis

def ised_event_get_usgs_observations_nwis(usgs_stations_list, startDT, endDT):

    # delete any station where the USGS code is None
    usgs_stations_list = [x for x in usgs_stations_list if x is not None]
    usgs_stations_append = []
    chunk = 1

    for i in range(0, len(usgs_stations_list), chunk):
        usgs_stations_

[2022-02-07 22:40] amaes3owp commented on #173
Great -
I see that I can define where to store the cache file.
I will update the code.

Thanks!

[2022-02-08 05:49] amaes3owp commented on #173
here is the function without cache

    # receives a list of stations and creates a dataframe with all the observations
def ised_event_get_usgs_observations(usgs_stations_list, startDT, endDT):

    # delete any station where the USGS code is None
    usgs_stations_list = [x for x in usgs_stations_list if x is not None]
    usgs_stations_append = []
    chunk = 10
    service = IVDataService(enabl

[2022-02-08 13:08] jarq6c commented on #173
@amaes3owp Did disabling the cache resolve your issue?

[2022-02-08 13:46] amaes3owp commented on #173
Good Morning Jason!

Yes! I disable the cache and I do not have the file anymore. However, I would be interested in using this option in the near future.

Are you guys checking if the size of the cache file is getting stable? Can I decide where to save the cache file? I see that in the code you have default cache --> cache=Path('XX')
is that the way to tell the function where to save the file?

[2022-02-08 13:50] #167 closed

[2022-02-08 14:06] jarq6c opened #175 "NWIS Client: Expose cache filename as option"
Allow users to set an alternative path for the cache when instantiating `IVDataService`.

Relevant line here:
https://github.com/NOAA-OWP/hydrotools/blob/7294aac3cb65001c933b80fcc4a73bd5724f3765/python/nwis_client/src/hydrotools/nwis_client/iv.py#L89

[2022-02-08 15:36] aaraney commented on #173
@jarq6c and @amaes3owp,

Thanks for the on-going dialog. @amaes3owp i'd not thought about your use case when I first wrote the software, but I wholeheartedly agree with you that the cache path should be configurable. Once I resolve #175 I will link the status of that ticket here.

Tangentially, @jarq6c, regarding:

I am not sure when cache reclamation occurs. I don't think it would make sense to d

[2022-02-08 15:46] #160 closed

[2022-02-08 16:19] amaes3owp commented on #175
Nice!

[2022-02-08 18:31] aaraney commented on #175
@amaes3owp, see #176. Ill post a link to `pypi` once this PR has been merged in and i've published the new version to `pypi`.

[2022-02-08 19:17] amaes3owp commented on #175
Thank you guys for getting this done so quickly!

[2022-02-08 21:12] aaraney opened #177 "As a User, I would like HydroTools to expose public api tooling at the subpackage level"
Currently, we are a little loose with the way we organize our "public" apis'. For example, in `hydrotools`'s `metrics` subpackage, a user must do the following to access the "public" functions:

[code]

This can lead to confusion when "non-public" methods are exposed in subpackage submodules alongside "public" methods:

[code]

The aforementioned user story is from @Castronova's experience (please

[2022-02-09 18:24] #175 closed

[2022-02-09 19:09] aaraney commented on #175
@amaes3owp, version `3.1.0` of `hydrotools.nwis_client` is now on [pypi](https://pypi.org/project/hydrotools.nwis-client/3.1.0/). Please upgrade to the latest version using:

[code]

[2022-02-09 19:12] aaraney commented on #175
Oh yeah of course! Thanks for opening up the ticket!

[2022-02-09 19:13] aaraney commented on #177
related to #141

[2022-02-09 20:22] jarq6c commented on #175
Thanks Austin!

[2022-02-09 20:37] jarq6c commented on #177
This is a bit too abstract for me and could use more concrete examples (ha!). It seems we could be discussing multiple related issues. I generally agree flat package structures are better than deep. But as it pertains to public and private APIs, I'm not clear on the distinction. Is `event_boundaries` a public or a private API? I'm not sure.

If the issue is that `hydrotools.events` is too deeply n

[2022-02-09 20:41] jarq6c commented on #173
Let's discuss. My inclination is that we have too many definitions/expectations for what "caching" does.

[2022-02-09 20:45] jarq6c commented on #173
@amaes3owp The basic caching built into `nwis_client` works more like the caching your Internet browser would use. More advanced caching functionality like what you're describing could be implemented in `hydrotools.cache` subpackage that focuses on caching from the data/DataFrame point of view. However, this package's features are still quite limited.

[2022-02-09 22:11] aaraney commented on #177
😏

Ah right, I should have been more complete and included a definition of sorts. My use of public vs private api in this context is to mean functions, methods, and constants that _are_  or _aren't_ exposed to users of `hydrotools`. Python lacks access modifier keywords like `private`, `public`, and `protected` as common in other OOPLs (as im sure you are aware, just trying to provide background).

[2022-02-10 22:53] aaraney opened #178 "Incorrect import in nwm client example"
[source](https://github.com/NOAA-OWP/hydrotools/blob/d77078bbf57a5aaefedc786f8923ee440ea729d5/python/nwm_client/src/hydrotools/nwm_client/gcp.py#L412)

[code]
`from hydrotools.gcp_client import gcp` should be `from hydrotools.nwm_client import gcp`

[2022-02-11 15:32] jarq6c commented on #151
Closing. Discussion held at bi-weekly meeting. Neat package, don't necessarily need to switch our backends (especially since `nwm_client` will likely move to `fsspec`.

[2022-02-11 15:32] #151 closed

[2022-02-11 15:48] jarq6c commented on #177
I think I see what you mean, but I also think further discussion would be helpful. The "helper" methods you listed in this example will be necessary for many forms of event detection (not just `decomposition`). It's true that `list_events` is the primary entry point. However, I don't see the "helper" methods as necessarily "private."

To be clear, the `events` package ought to be re-organized. It

[2022-02-25 18:08] aaraney opened #180 "Nwm client IndexError: invalid index to scalar variable."
Justin Hunter reported an issue when trying to retrieve a short range forecast using the `nwm_client`'s `gcp.NWMDataService`. I verified that I can reproduce the issue locally.

## Reproduce

[code]

[code]

[2022-02-25 18:20] aaraney commented on #180
From the stack trace, it appears that the metadata field, `scaling_factor`, for the `streamflow` variables in one of the NWM's channel_rt output files is not being deserialized as a collection (list, etc.) and instead is just a scalar variable (int, float, etc.). This may have been caused by a downstream change to a dependency (xarray, h5netcdf).

[2022-02-25 18:29] aaraney commented on #180
I was able to resolve this issue by removing the index in the `scale_factor` object.

[line 274 python/nwm_client/src/hydrotools/nwm_client/gcp.py](https://github.com/NOAA-OWP/hydrotools/blob/d77078bbf57a5aaefedc786f8923ee440ea729d5/python/nwm_client/src/hydrotools/nwm_client/gcp.py#L274)
[code]

I am assuming that the metadata layout of NWM channel route link files is pretty static over time as w

[2022-02-25 18:46] aaraney commented on #180
Found the issue. It is propagating`h5netcdf`. Today they pushed `0.14.0` which introduced the following per their [change log](https://github.com/h5netcdf/h5netcdf/blob/9886515677ab754c903e7a0c487ad9892313f0e4/CHANGELOG.rst).

I verified that rolling the version back to `0.13.0` resolved this issue.

[2022-02-25 18:59] aaraney commented on #180
Now as to how we should proceed. I know previously I said:

In this case, I think it makes sense to just type check `ds.streamflow.scale_factor` and handle the case where a scalar is returned. I dont want to force others to comply with a version pinning of h5netcdf. Thoughts @jarq6c?

## proposed solution

[code]

[2022-02-25 19:27] jarq6c commented on #180
If the source attribute was a single scalar all along and was only returned in a `list` because of some conceit of `h5netcdf`, I'm inclined to just drop the index and leave it at that. Is there a good reason to continue supporting `h5netcdf <= 0.13.0`?

[2022-02-25 21:27] aaraney opened #181 "Consider a different documentation generation engine"
Sphinx is okay and is fully featured, however, I am not fond of to the rst format nor the way sphinx generates documentation. I would like a solution that is closer to the tool-chain that we and many other data science minded individuals use (e.g. markdown).

The solution choice should (IMO) be driven by approachability. Meaning:
 - it should be easy for someone to read and contribute to our docum

[2022-03-01 17:22] aaraney commented on #180
After talking with @jarq6c offline, we came to a solution (please correct me where necessary @jarq6c). Given that `h5netcdf==0.14.0` was released on 2022-02-25, we will pin the current version of `nwm_client` (`5.0.1`) to `h5netcdf <= 0.13.0` and release the software as a post release to `5.0.1`. Subsequently, `nwm_client==5.0.2` will be released and pin `h5netcdf >= 0.14.0`. `5.0.2` will include

[2022-03-02 21:11] xfeng2021 opened #183 "contingency_table computed from compute_contingency_table doesn’t contain both True and False for the observed or the simulated series"
The following line in function compute_contingency_table:

ctab = pd.crosstab(observed, simulated, dropna=False)
produces ctab containing only True or False for either the observed or the simulated series? It would cause the error in ctab.loc.

Could you add a solution to handle such situation?

[2022-03-03 21:01] jarq6c commented on #183
Verified if either of the input categorical series contain only `True` or `False`, then `compute_contingency_table` fails with a `KeyError` for the missing boolean category.

[2022-03-16 12:35] #180 closed

[2022-03-17 18:10] #183 closed

[2022-03-20 17:26] aaraney commented on #117
I think this might need to be reopened, @jarq6c. It appears that #185 did change the default value of `value_time_label` to `"value_time"` (Update 3.). However, `value_time_label` [still throws](https://github.com/jarq6c/hydrotools/blob/93850f8a1d665b642172f3df7022a7aef2db4d19/python/nwis_client/src/hydrotools/nwis_client/iv.py#L120) a `UserWarning` is a user passes `None` to `value_time_label` an

[2022-03-21 12:46] jarq6c commented on #117
Ah got me! I forgot about removing the warning!

[2022-03-23 20:16] #117 closed

[2022-05-09 19:26] hellkite500 opened #192 "Nwis Client fails trying to iterate a datetime.datetime object"
The following is a stack trace of a failing test in a project that is using the nwis client.  I just created a new virtual env and installed all project dependencies from their latest versions (including hydrotools) and this suddenly popped up in my test suite:

[code]

[2022-05-09 19:33] jarq6c commented on #192
@aaraney Well I'm stumped.

[2022-05-09 19:48] jarq6c commented on #192
So far, I can't duplicate it. I've tested it with `pandas.Timestamp`, `datetime.datetime`, and `str`

Python 3.9.7 (default, Sep 16 2021, 13:09:58)
[GCC 7.5.0] :: Anaconda, Inc. on linux

Package                Version
---------------------- -----------
aiodns                 3.0.0
aiohttp                3.7.4.post0
aiohttp-client-cache   0.6.1
aiosqlite              0.17.0
async-timeout

[2022-05-09 19:50] hellkite500 commented on #192
As I pondered the stack trace and looked at the session cache, it occurred to me that maybe the old `nwisiv_cache.sqlite` was to blame, and sure enough, I renamed that file, and everything worked. (I had one hanging around from the previous version before the upgrade...)

[2022-05-09 19:51] jarq6c commented on #192
Nice! Let's blame @aaraney anyway ;)

[2022-05-09 19:51] #192 closed

[2022-05-09 19:54] jarq6c opened #193 "Add note about cache version incompatibility to NWIS Client docs"
Owing to #192 , it may behoove us to add a little note to the docs recommending against attempting to re-use caches after upgrading client versions.

[2022-05-09 19:54] jarq6c commented on #193
Thanks @hellkite500 for the suggestion.

[2022-05-09 20:00] aaraney commented on #192
Glad you all got it sorted out! Now to go plant my next bug 😝

[2022-06-02 15:22] #147 closed, assigned to jarq6c

[2022-06-02 15:27] jarq6c commented on #178
Fixed with #179

[2022-06-02 15:27] #170 closed

[2022-06-02 15:35] jarq6c commented on #164
Does not appear to be a problem. Example:
[code]
[code]

[2022-06-02 15:35] #164 closed

[2022-06-02 15:40] #171 closed

[2022-06-03 13:40] #137 closed

[2022-06-03 13:43] jarq6c commented on #173
Closing. We'll circle back to increased caching functionality on a different issue.

[2022-06-03 13:43] #173 closed

[2022-06-03 16:11] jarq6c opened #197 "`nwm_client` does not work in FIPS environments"
The current version of `nwm_client` uses `concurrent.futures.ProcessPoolExecutor` which tracks processes using `md5` which is disabled by FIPS. This leads to the client hanging and never returning with data in a FIPS environment.

Switching to an async systems like `nwm_client_new` or using `fsspec` will hopefully fix this issue. It's also possible that upgrading to Python 3.10+ may resolve the is

[2022-06-08 18:32] jameshalgren opened #198 "Complications with HDF5 dependency on mac silicon"
This is a bit esoteric, but I'll document it here in case anyone else runs into it. Also note that the issue will probably resolve as the dependencies are updated.

The specific issue appears to be with the PyTables dependency, and specifically the HDF5 library within that dependency all when running on the Apple M1 chip. This StackOverflow issue summarizes things nicely:
https://stackoverflow.com

[2022-06-10 22:31] hellkite500 commented on #198
How did you install HDF5?  Or did you install it prior to trying to instal this package?

[2022-06-10 22:43] hellkite500 commented on #198
FWIW this has been actively worked in PyTables/PyTables#832 and my guess is that resolving your installation of HDF5 will get through this.

[2022-06-21 18:35] jarq6c commented on #198
@jameshalgren Thanks for reporting. Do you know if this issue also occurs when using conda or is it a pip specific problem?

[2022-06-21 18:42] jarq6c commented on #198
If the problem is pip specific, a conda-forge package might help resolve the issue.

https://github.com/conda-forge/staged-recipes
https://github.com/conda-incubator/grayskull

[2022-06-25 00:09] markwang0 opened #200 "submitted hydrotools.nwm-client to conda-forge"
thanks for the awesome package! submitted hydrotools.nwm-client to conda-forge conda-forge/staged-recipes#19405

FYI #198

[2022-06-30 01:33] aaraney commented on #193
Yeah, I agree. I think this would be a helpful addition to what could be an FAQ section in the `nwiw_client` docs. Having thought about it, I am hesitant to add a logic into the code base to check for this case, so I think docs are the way to go. Ill try to remember to open a PR to get this added in sometime this week.

[2022-07-01 17:23] #143 closed

[2022-07-23 23:24] jarq6c commented on #197
This issue is resolved by upgrading to Python 3.9+.

[2022-07-23 23:24] #197 closed

[2022-07-25 13:09] jarq6c commented on #168
Recent events have highlighted the need to quickly generate hydrographs for arbitrary NWM channel features. I think this need could be fulfilled with a hypothetical `hydrotools.dashboard` subpackage that provides an interface to facilitate plotting capabilities for various `hydrotools` using a plugin architecture.

While `matplotlib` is the standard for publication quality static plots, I think `d

[2022-07-26 12:15] aaraney commented on #168
Can you elaborate a bit more on the distinction between `hydrotools.dashboard` and `hydrotools.plots`? I could insert assumptions here, but I won't for conversation sake.

Other questions I have (we can probably punt these a little down the conversation):

- what is / are the intended target platforms / formats for this feature (i.e. web, gis, embedded in pdf)?
- are there requirements for plots t

[2022-07-26 13:09] jarq6c commented on #168
Getting more specific: `dashboard` is a HydroTools GUI. `plots` is a HydroTools Python plotting API.

[2022-07-26 14:42] aaraney commented on #168
Thanks for elaborating. I am starting to see more of your vision. I have few clarifying questions:

1. What do you have in mind when you say GUI? A web app? A literal GUI (e.g. PyQt5)? A console UI (e.g. [`rich`](https://github.com/Textualize/rich))
2. Do you envision the dashboard to be installed and used primarily on end-users hardware? Or will are you thinking this could be configured and deplo

[2022-07-26 15:12] jarq6c commented on #168
I was thinking a web app using a framework like [dash](https://dash.plotly.com/). I think this would be easier to maintain than a full fat GUI, especially with a plugin architecture. This would also allow some flexibility for deployment. The dashboard could be used locally or deployed as a service, though deployment details would be left to users (refer to the documentation on deploying dash apps

[2022-07-29 18:23] aaraney commented on #168
That makes sense. I like that idea. How configurable are you thinking the software would be? Specify the the panels or components you would like to have in some kind of configuration file? So maybe a yaml file or something that determines what dashboard components you want and their data sources?

[2022-08-11 15:47] jarq6c opened #203 "National Water Center Visualization Client Tools"
The National Water Center has published several publicly available visualization services (MapServer) documented here:

https://www.weather.gov/media/owp/operations/Public_Handbook_NWC_Visualization_Services.pdf

I'm opening this ticket to discuss availability of client tools and potential to implement client tools in HydroTools.

@aaraney @CoreyKrewson-NOAA

[2022-08-20 16:14] jarq6c commented on #181
I'd like to submit pdoc for consideration:
https://pypi.org/project/pdoc/

I generated the attached documentation for `hydrotools.metrics` by adding `__docformat__ = "numpy"` to the top of `hydrotools.metrics.metrics.py` and running `pdoc hydrotools.metrics -o htmldocs` from the command line.

[ht_metrics_docs_example.tar.gz](https://github.com/NOAA-OWP/hydrotools/files/9387654/ht_metrics_docs_exa

[2022-08-20 16:15] jarq6c commented on #181
Note `pdoc` supports embedding Markdown directly in docstrings (the default) and equation rendering.

[2022-08-20 16:20] jarq6c commented on #181
Here's an updated example with rendered math (`pdoc hydrotools.metrics -o htmldocs` --math`). This required no changes to the module itself.

[ht_metrics_math.tar.gz](https://github.com/NOAA-OWP/hydrotools/files/9387664/ht_metrics_math.tar.gz)

[2022-08-24 14:42] jarq6c opened #205 "Add "confidence" parameter to `metrics.probability_of_false_alarm`"
Confidence (C) is 1 - FAR. This can be accomplished with a simple parameter and a partial function.

To completely duplicate the reference below, metrics will also need a way to accommodate "near misses" and "near hits" given some tolerance.

Should also consider adding convenience methods called `false_alarm_ratio` and `false_alarm_rate`.

Wells, S., Robson, A., Moore, R. J., Cole, S. J., & Rudd,

[2022-08-26 19:41] jarq6c opened #206 "NOTICE: Incorrect NWM RouteLink Assignment - Channel Feature 3624261"
@kvanwerkhoven discovered that the NWM Routelink contains an erroneous mapping from Reach ID 3624261 to USGS Gage 07010040. The error is present in the RouteLink stored on [NOMADS](https://www.nco.ncep.noaa.gov/pmb/codes/nwprod/nwm.v2.2.0/parm/domain/) and [HydroShare](https://www.hydroshare.org/resource/d154f19f762c4ee9b74be55f504325d3/). This error affects data returned from the `nwm_client` and

[2022-09-13 16:00] jarq6c opened #207 "Modules missing stubs or py.typed markers"
I received this error when running `mypy` on a project that depends on `hydrotools.nwis_client`.
[code]
I discovered that none of the `hydryotools` subpackages are [PEP-561](https://peps.python.org/pep-0561/) compliant, however they do use type hints. I think we should considering adding `py.typed` files to help users that utilize type checkers.

[2022-10-06 18:43] hellkite500 commented on #198
It looks like a good build of hdf5 has hit homebrew for arm.  This error still creeps up, but can be resolved by installing hdf5 from homebrew
[code]

[2022-10-06 22:54] jameshalgren opened #208 "Build errors with latest hydrotools"
`pip install hydrotools` crashes with the following error. I feel like it might be something in an upstream library and may be identical to the issue [here](https://github.com/NOAA-OWP/hydrotools/issues/198). Documenting for posterity, and just in case there was a version change that broke something.

[code]

[2022-10-06 22:54] jameshalgren commented on #208
@ZacharyWills (we were discussing today...)

[2022-10-06 22:58] hellkite500 commented on #208
Pretty sure this is a duplicate of the other referenced issue. I just posted a solution that worked for me on that issue, have you tried that?

[2022-10-06 22:58] aaraney commented on #208
@jameshalgren, thanks for reporting this! I agree, this seems like an upstream issue. Ill have a look at this tomorrow morning and update this ticket. Hopefully it will be an easy fix.

[2022-10-06 22:59] aaraney commented on #208
Can you find and ref that issue @hellkite500?

[2022-10-06 22:59] hellkite500 commented on #208
#198

[2022-10-06 23:04] jameshalgren commented on #208
Yes --- I'm agreeing, this is a duplicate.

[2022-10-06 23:04] #208 closed

[2022-10-06 23:07] jameshalgren commented on #208
(And, once I finally figured out where the new OS installation hid my homebrew installation, the proposed fix in #198 worked. )

[2022-11-15 19:48] jarq6c opened #209 "NWIS IV Client `FutureWarning`"
When using the nwis iv client, I receive this warning:

[code]

[2022-11-17 15:30] aaraney commented on #209
Thanks for opening and documenting this, @jarq6c. I should have some bandwidth late into the afternoon to look into this and also checkout the PR's that i've neglected for longer that I would like to admit.

[2022-11-18 03:20] aaraney commented on #209
This looks like a pretty easy fix. We should just swap `df.loc` for setting with `df[]`. We need to set by replacement (copy) rather than in-place because are changing the data type of the underlying array when we downcast.

I'm glad to see that pandas is improving the consistency of it's copy vs view semantics.

[2022-11-18 19:50] aaraney commented on #209
For record sake, the `FutureWarning` was adding in `1.5.0`. You can find more details about it [here](https://pandas.pydata.org/docs/whatsnew/v1.5.0.html#inplace-operation-when-setting-values-with-loc-and-iloc).

[2022-11-18 20:50] aaraney opened #211 "NWM Client New Test Failure: AttributeError: 'EntryPoints' object has no attribute 'get'"
The test runners for #210 found a [failing `nwm_client_new` test](https://github.com/NOAA-OWP/hydrotools/actions/runs/3500004127/jobs/5862205193#step:5:39). The `AttributeError` is raised in `xarray` source when getting a `xarray` backend. See the below collapsed test failure trace for more detail.

[code]
<details>
<summary>
full trace
</summary>

[source](https://github.com/NOAA-OWP/hydrotools/a

[2022-11-18 20:54] aaraney commented on #211
This does not appear to affect > python `3.7`. I see two paths forward here, 1.) we drop support for python `3.7` for `nwm_client_new`, 2.) we pin the version of `importlib-metadata` to < `5.0.0` for python `3.7` only (I would have to look into how to do this). Thoughts, @jarq6c?

[2022-11-18 21:15] jarq6c commented on #211
`xarray` dropping support for python `3.7` seems like a good reason for us to drop it. It looks like other downstream projects have linked to that PR and also chosen to drop `3.7` support. Python `3.7` will hit EOL by 2023-06 or 2023-07.

Probably a good move to drop support for `3.7` and bring in support for `3.10`. I've begun resenting having to `from typing import Dict, Tuple, List` anyway.

[2022-11-18 22:31] aaraney commented on #211
Im happy with dropping `3.7` support also. When did you intend to switch `nwm_client` and `nwm_client_new`? Just curious is now is a good time or at least at the next release, swap in `nwm_client_new` and drop support for `3.7`?